.view-adjust {
    border: 1px solid grey;
    margin-top: 1px;
    height: 550px;
}

.nohover a {
    font-size: 200%;
}
.nohover a:hover {
    text-decoration: none;
    color: black;
}

.test + .tooltip > .tooltip-inner {
      background-color: #73AD21;
      color: #FFFFFF;
      border: 1px solid green;
      padding: 15px;
      font-size: 20px;
  }

  .test + .tooltip.right > .tooltip-arrow {
      border-right: 5px solid black;
  }
